body{
    margin: 0;
    padding: 0;
    background-color: var(--dark-mode);
}

div{
    display: flex;
    flex-direction: column;
}

/* CORE */
:root{
    --vermelho-escuro: #640404;
    --vermelho: #790606;   
    --cinza-escuro: #161616;
    --cinza: #252525;
    --cinza-claro: #474747;
    --input: #ffffff;
    --inputborder: #BABABA;
    --preto: #000000;
    --text-dm: #cecece;
    --dark-mode: #121212;
} 

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1;
    font-style: normal;
  } 

/* NAVBAR */
nav {
    background-color: var(--cinza);
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 0px 0 var(--cinza-escuro);
    align-items: center;
  }

  nav img{
    width: 12%;
    margin: 1% 1% 1% 4%;
  }

.nav-text{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 0px 7% 0px 0px;
  }
  
  nav a {
    color: #f2f2f2;
    height: 80px;
    text-decoration: none;
    font-size: 18px;
    align-items: center;
    position: relative;
    transition: all 0.4s;
    display: flex;
    flex-direction: row;
  }

  nav a i{
    margin: 0px 10px 0px 0px;
  }

  #paginaAtual {
    color: var(--cinza-claro);
    pointer-events: none;
  }

  nav a::after{
    content: '';
    height: 3px;
    width: 100%;
    color: var(--cinza-escuro);
    opacity: 0;
    display: flex;
    position: absolute;
    left: 0;
    bottom: 3vh;
    transition: all 0.2s;
  }

  nav a:hover{
    color: var(--input);
  }

  nav a:active {
    color: var(--cinza-escuro);
  }

/* Pag */

/* Carrousel */

* {box-sizing:border-box}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  border: 5px solid var(--cinza); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
  overflow: hidden; 
  border-radius: 10px;
}

.mySlides img {
  height: 50vh;
  width: 100%;
  object-fit: cover; /* Garante que a imagem preencha o carrossel */
}

.mySlides img{
  height: 50vh;
  width: 110vh;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover {
  background-color: rgba(0,0,0,0.8);
  border-radius: 0% 50% 50% 0%;
}


.next:hover {
  background-color: rgba(0,0,0,0.8);
  border-radius: 50% 0% 0% 50%;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 20px 20px; /* Espaço à esquerda e acima */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  text-align: left; /* Alinhamento à esquerda */
  display: flex;
  align-items: left;
  height: 20%;
}

.text a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px; /* Tamanho de fonte um pouco maior */
}

.text a:hover {
  color: #ffffff;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
} 

/* body II: eletric boogalo */

.firstSection{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 6vh;
  margin: 2%;
}

.secondSection{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.secondSection .card{
  height: 250px;
  width: 250px;
}

.thirdSection{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Catalogtitle{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1%;
  margin: 5% 0 0 10%;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6%;
}

.Second-container{
  display: flex;
  flex-direction: column;
}

.tab{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15%;
}

.catalog-card-swiper{
  background: var(--cinza);
  border-radius: 10px;
  width: 80vw;
  height: 50vh;
  margin: 3% 0% 3% 0%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card{
    background: var(--cinza);
    border-radius: 10px;
    padding: 20px;
    width: 350px;
    height: 350px;
    margin: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.altCard{
  background: var(--cinza);
  border-radius: 10px;
  padding: 20px;
  width: 280px;
  height: 200px;
  margin: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

.altCard:hover{
  transform: scale(1.05);
}

h1{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cinza);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: var(--text-dm);
  padding: 10px;
  width: 300px;      
  height: 60px;       
  font-size: 20px;
  margin: 3% 0% 0% 10%;  
  text-align: center;
  border-radius: 5px;  
}

.CatalogH1{
  justify-content: center;
  background-color: var(--cinza);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: var(--text-dm);
  width: 300px;      
  height: 60px;       
  font-size: 20px;
  margin: 0;
  text-align: center;
  border-radius: 5px;  
}

.aCatalog{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cinza);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: var(--text-dm);
  width: 200px;      
  height: 50px;       
  font-size: 20px;
  text-align: center;
  border-radius: 5px;  
}

/* Card Swipper */

.card-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 1100px;
  padding: 20px 10px;
  overflow: hidden;
}

.card-list{
  display: flex;
  flex-direction: row;
  gap: 3vw;
}

.card-list .card-item {
  list-style: none;
  height: 34vh;
}
.card-list .card-item .card-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--dark-mode);
  padding: 18px;
  border-radius: 12px;
  height: 18vw;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  transition: 0.2s ease;
}

.card-list .card-item .card-link:hover {
  border-color: var(--vermelho);
}
.card-list .card-link .card-image {
  background-color: var(--cinza);
  height: 8vw;
  width: 8vw;
  border-radius: 10px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}
.card-list .card-link {
  color: var(--vermelho);
  font-size: 0.95rem;
  border-radius: 50px;
  background: var(--cinza);
}

.card-list .card-link .card-title {
  color: #000;
  background-color: var(--cinza);
  border-radius: 7%;
  width: auto;
  padding: 5px;
  font-size: 1.19rem;
  font-weight: 600;
}

h5{
  margin: 0;
}

.card-list .card-link:hover .card-button {
  color: #fff;
  background: var(--vermelho);
}

.card-wrapper .swiper-slide-button {
  color: var(--vermelho);
  margin-top: -35px;
}
/* Responsive media query code for small screens */
@media (max-width: 768px) {
  .card-wrapper {
    margin: 0 10px 25px;
  }
  .card-wrapper .swiper-slide-button {
    display: none;
  }
}

/* Footer */

.footer {
  background-color: var(--cinza);
  padding: 2% 5%;
  margin: 10% 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-dm);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
}

.footer-links, .footer-social {
  display: flex;
  gap: 15px;
}

.footer-links a, .footer-social a {
  color: #f2f2f2;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover, .footer-social a:hover {
  color: var(--input);
}

.footer-social a i {
  font-size: 18px;
}

.footer-copyright {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}



